[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
passlib = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.11"
